@tailwind base;
@tailwind components;
@tailwind utilities;

.card-category:hover {
    background: url('./assets/mask.png') no-repeat center;
}

.courses-card-body {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 8px -2px !important;
    border: 1px solid #f3f1f8 !important;
}

.courses-card-image-text.immediate,
.courses-card-image-text.immediate::after {
    background-color: #FDE6EC;
}

.courses-card-image-text.immediate h3 {
    color: #f25c88;
}

.courses-card-image-text.basic,
.courses-card-image-text.basic::after {
    background-color: #b7ff8d;
}

.courses-card-image-text.basic h3 {
    color: #88b92b;
}

.courses-card-image-text.specialized,
.courses-card-image-text.specialized::after {
    background-color: #f0b0ff;
}

.courses-card-image-text.specialized h3 {
    color: #b44cf3;
}

.courses-card-image-text.advanced,
.courses-card-image-text.advanced::after {
    background-color: #b0c6ff;
}

.courses-card-image-text.advanced h3 {
    color: #4c81f3;
}

.courses-card-image-text {
    position: absolute;
    padding: 8px 13px;
    bottom: 10px;
    right: 0;
}

.courses-card-image-text::after {
    clip-path: polygon(100% 0, 100% 50%, 100% 100%, 0 100%, 95% 50%, 0% 0%);
    width: 20px;
    content: "";
    position: absolute;
    height: 100%;
    left: -19px;
    top: 0;
}

.courses-card-image-text h3 {
    font-size: 12px;
    font-weight: 500;
}

.text-line-2 {
    display: -webkit-box!important;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
}

.text-line-1 {
    display: -webkit-box!important;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
}

.ant-spin-fullscreen .ant-spin-dot .ant-spin-dot-item {
    background: #754FFE;
}
.ant-spin-fullscreen .ant-spin-text {
    color: #754FFE;
    font-size: 20px;
}

.tox .tox-tinymce {
    width: 100% !important;
}

.ant-collapse-item {
    width: 100%;
}

.custom-search .ant-input-affix-wrapper {
    border-radius: 25px;
    border-color: #e1e1e1;
    height: 30px;
  }
  
  .custom-search .ant-input {
    border-radius: 25px;
    height: 30px;
  }
  
  .custom-search .ant-btn {
    border-radius: 0 25px 25px 0;
    background-color: #0057e7;
    color: #ffffff;
    height: 30px;
  }
  
  .custom-search .ant-input::placeholder {
    color: #9b9b9b;
  }
  
  .search-container {
    flex: 1;
    max-width: 400px;
  }
  